body {
  background-image: url("../images/grid.jpg");
  font-family: 'Open Sans';
}

#footer {
  background-color: #222;
  padding-top: 3em;
  padding-bottom: 3em;
  color: #aaaaaa;
}

#footer a {
  color: #cccccc;
}

#footer a:hover {
  color: white;
}

.social a {
  display: inline-block;
  height: 48px;
  width: 48px;

  font-size: 24px;
  line-height: 48px;

  border: 1px solid #cccccc;
  border-radius: 50%;
}

.social a:hover {
  border-color: white;
  text-decoration: none;
}

.footer-description {
  padding-top: 12px;
}

.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #eeeeee;
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus,
.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.wrapper {
  background-image: url('../images/background/background.jpg');
  background-color: rgba(0, 0, 0, .8);
  height: 650px;
  background-size: cover;
  padding-top: 150px;
  text-align: center;
  color: white;
}
.lead h1 {
  font-size: 72px;
  text-shadow: 0 0 20px rgba(0, 0, 0, .8);
  font-weight: normal;
}

.lead h2 {
  background: rgba(0, 0, 0, .4);
  display: inline-block;
  padding: 0.2em;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 2em;
}

.vertical-spacer {
  height: 8em;
}

.feature img {
  width: 30%;
  margin-bottom: 2em;
}

.feature {
  color: #444444;
  font-weight: 200;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
}